version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: postgres-test
    restart: unless-stopped

    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpass
      TZ: America/Sao_Paulo

    ports:
      - "5432:5432"

    volumes:
      - ./data:/var/lib/postgresql/data

    networks:
      - postgres-net

networks:
  postgres-net:
    driver: bridge
